In [1]:
import os, pickle

In [2]:
with open(file='result_peak_data.pkl', mode='rb') as f:
    peak_data_dict = pickle.load(f)

In [4]:
raw_data_5 = peak_data_dict['raw_data_5']
raw_data_5

,time_p1(hour),port_1_p(bar),time_p2(hour),port_2_p(bar),time_p3(hour),port_3_p(bar),time_p4(hour),port_4_p(bar)
0,0.000764,23.219999,0.000669,22.450001,0.000564,22.160000,0.000867,22.290001
1,0.001103,23.010000,0.001039,22.680000,0.000944,22.270000,0.001189,22.290001
2,0.001419,22.879999,0.001358,22.650000,0.001269,22.440001,0.001503,22.280001
3,0.001731,23.000000,0.001669,22.690001,0.001583,22.450001,0.001811,22.389999
4,0.002036,23.090000,0.001972,22.799999,0.001886,22.400000,0.002117,22.370001
...,...,...,...,...,...,...,...,...
3917039,NaN,NaN,NaN,NaN,NaN,NaN,1387.576416,20.860001
3917040,NaN,NaN,NaN,NaN,NaN,NaN,1387.576660,20.900000
3917041,NaN,NaN,NaN,NaN,NaN,NaN,1387.577026,20.940001
3917042,NaN,NaN,NaN,NaN,NaN,NaN,1387.577271,20.959999
3917043,NaN,NaN,NaN,NaN,NaN,NaN,1387.577515,20.920000

In [6]:
print(raw_data_5.shape[0]-67200)

3849844